<div class="ad-actions">
	<!-- <a href="" class="button is-block not-implemented">
		Add to favorites
	</a> -->
	<%= link_to(t("common.edit"), edit_ad_path(@ad), :class => "button") if current_user && (current_user.id == @ad.user.id || current_user.admin?) %>
	<%#= link_to "#{t "common.delete"}", @ad, remote: true, method: :delete,  :class => "button is-block is-danger", data: { confirm: "#{t "views.ad.show.delete_confirmation"}" } if admin_user? %>

	<%= link_to "#{t "common.archive"}", archive_ad_path(@ad), :class => "button is-danger" if @ad.published? && current_user && current_user.id == @ad.user.id %>

	<%= link_to "#{t "common.delete"}", delete_ad_path(@ad), data: { confirm: 'Are you sure you want to delete this article?'}, method: :delete, class: "button is-danger" if admin_user? %>

	<%= link_to "Fake", spam_ad_path(@ad), data: { confirm: 'Are you sure you want to mark this ad as fake?'}, method: :delete, class: "button is-danger" if admin_user? %>
</div>