<table class="datatable" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
	<% unless @ad.user.phone_number.blank? %>
	<tr>
		<td><%= link_to("#{t "common.call"}", call_contact_path(@ad.id), :class => "button is-block") %></td>
	</tr>
	<tr>
		<td><%= link_to("SMS", text_contact_path(@ad.id), :class => "button is-block") %></td>
	</tr>
	<% end %>
	<% unless @ad.user.whatsapp_id.blank? %>
	<tr>
		<td><%= link_to("WhatsApp", whatsapp_contact_path(@ad.id), :class => "button is-block") %></td>
	</tr>
	<% end %>
	<tr>
		<td><%= link_to "#{t "common.message"}", new_message_path(:uid => @ad.user.id, :adid => @ad.id), class: "button is-block" %></td>
	</tr>
</table>