<div class="ad-contactinfo">
	<h3>Seller</h3>
	<h4 class="ad-seller-name"><%=@ad.user.name %></h4>
	<p class="ad-seller-scire">
		<span class="rating" data-score="<%= @ad.user.seller_score %>">
			<span class="rating-score">
				<span class="rating-score-inner"></span>
			</span>
		</span>
	</p>
	<div id="contact-info"></div>
	<% if @show_contact_info %>
		<%= render "contact_info", :user => @ad.user %>
	<% else %>
		<%= form_tag(show_contact_info_path, :remote => true, :authenticity_token => true) do %>
			<button id="contact-info-toggle" class="button is-block is-primary">Show Contact Information</button>
		<% end %>
	<% end %>
</div>