<h1><%= @ad.title %></h1>
<div class="description">
	<%= simple_format(@ad.description) %>
</div>
<p>
	<strong>Price:</strong>
	<%= number_to_currency(@ad.price)%><br>
	<strong>Volume:</strong>
	<%= pluralize(@ad.volume, @ad.volume_unit) %><br>
</p>

