<% provide(:title, "Edit - #{@ad.title}") %>
<h1><%= t "views.ad.edit.heading" %></h1>

<div class="newpost">
	<div class="newpost-form">
		<%= render 'form' %>
	</div>
	<div class="newpost-content">
		
	</div>
</div>