<h1><%= t "views.ad.edit.heading" %></h1>

<div class="newad">
	<div class="newad-form">
		<%= render 'form' %>
	</div>
	<div class="newad-content">
		<h2>Help</h2>
		<p>Here we could put some information that helps the user fill out the form.</p>
	</div>
</div>