<% provide(:title, "Edit - #{@ad.title}") %>
<h1><%= t "views.ad.edit.heading" %></h1>

<div class="newad">
	<div class="newad-form">
		<%= render 'form' %>
	</div>
	<div class="newad-content">
		
	</div>
</div>