<div class="pagenav">
	<div class="pagenav-group pagenav-buttongroup">
		<a href="" class="pagenav-item is-active">List</a>
		<a href="" class="pagenav-item">Map</a>
	</div>
	<div class="pagenav-group is-right">
		<a href="" class="pagenav-item">Filter</a>
	</div>
</div>

<%= render "list", :ads => @ads %>
<%= paginate @ads %>
