<div class="map">
	<div id="admap"></div>
	<%= render "filter", :ads => @ads %>

	<div class="infopanel">
		<div class="infopanel-content">
		</div>
		<div class="loader">
			<%= image_tag("loader.gif")%>
			<div class="loader-label">
				<%= t "common.loading_content" %>
			</div>
		</div>
		<a href="" class="infopanel-close">&times;</a>
	</div>
</div>
