<div class="map">
	<div id="admap"></div>

	<div class="pagenav is-floating">
		<div class="pagenav-group pagenav-buttongroup">
			<%= link_to "List", ads_path, :class => "pagenav-item" %>
			<%= link_to "Map", map_path, :class => "pagenav-item is-active" %>
		</div>
		<div class="pagenav-group is-right">
			<a href="" class="pagenav-item">Filter</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
