<% provide(:title, "New ad") %>
<h1><%= t "views.ad.new.heading" %></h1>

<div class="newad">
	<div class="newad-form">
		<%= render 'form' %>
	</div>
	<div class="newad-content">
		<h3><%= t "views.ad.new.sidebar.heading"%></h3>
		<p><%= t "views.ad.new.sidebar.text"%></p>
	</div>
</div>