<a href="<%= ads_path %>" class="back-link">&larr; Back</a>

<div class="ad">
	<%= render "show" %>
	<div class="ad-actions">
		<a href="" class="button is-block is-primary not-implemented">
			Show Contact Information
		</a>
		<a href="" class="button is-block not-implemented">
			Add to favorites
		</a>
		<%= link_to(t("common.edit"), edit_ad_path(@ad), :class => "button is-block") if (current_user.id == @ad.user.id || current_user.admin?) %>
	</div>
</div>