<a href="<%= ads_path %>" class="back-link">&larr; Back</a>

<div class="ad">
	<%= render "show" %>
	<div class="ad-actions">
		<a href="" class="button is-block is-primary">
			Show Contact Information
		</a>
		<a href="" class="button is-block">
			Add to favorites
		</a>
	</div>
</div>