a.button,
.button {
	display: inline-block;
	vertical-align: middle;
	padding: 0 25px;
	text-decoration: none;
	height: $controlHeight;
	line-height: $controlHeight;
	background-color: $grey;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	font-size: $buttonFontSize;
	//margin-bottom: $halfPadding;

	border: none;
	cursor: pointer;

	-webkit-appearance: none;
	@include border-radius($borderRadius);

	&:hover,
	&:focus {
		background-color: darken($grey, 10%);
		outline: none;
	}

	&:active {
		background-color: darken($grey, 20%);
	}

	&.is-block {
		display: block;
		width: 100%;
		border-radius: 12px;
		margin-bottom: $halfPadding;

		@include mq($from: medium) {
			display: inline-block;
			width: auto;
			margin-bottom: 0;
		}

	}


	&.is-primary {
		display: flex;
	    width: 350px;
	    height: 100px;
	    justify-content: center;
	    align-items: center;
	    font-size: 24px;
		background-color: $accentColor;
		border-radius: 12px;

		&:hover,
		&:focus {
			background-color: darken($accentColor, 10%);
		}

		&:active {
			background-color: darken($accentColor, 20%);
		}
	}

	&.is-danger {
		background-color: $dangerColor;

		&:hover,
		&:focus {
			background-color: darken($dangerColor, 10%);
		}

		&:active {
			background-color: darken($dangerColor, 20%);
		}
	}

	&.is-link {
		border: none;
		background: transparent;
		color: $linkTextColor;
		text-transform: none;
		font-size: $baseFontSize;
		padding: 0;

		&:hover,
		&:focus {
			color: $linkTextHoverColor;
		}

		&:active {
			color: $linkTextActiveColor;
		}
	}
}

input,
textarea,
select {
	+ .button {
		margin-bottom: 0;
	}
}

.button-group {
	@include clearfix();

	&.is-horizontal {
		.button {
			float: left;
			@include border-radius(0);
			border-right: 1px solid $white;

			&:first-child {
				@include border-radius($borderRadius 0 0 $borderRadius);
			}

			&:last-child {
				@include border-radius(0 $borderRadius $borderRadius 0);
				border-right: none;
			}
		}
	}
	&.is-stacked {
		.button {
			@include border-radius(0);
			display: block;
			width: 100%;
			border-bottom: 1px solid $white;

			&:first-child {
				@include border-radius($borderRadius $borderRadius 0 0);
			}

			&:last-child {
				@include border-radius(0 0 $borderRadius $borderRadius);
				border-bottom: none;
			}
		}
	}
}
