input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
textarea,
select {
	display: block;
	width: 100%;
	height: $controlHeight;
	font-family: $bodyFont;
	font-size: $baseFontSize;
	padding: 5px;
	border: 1px solid #ccc;
	@include border-radius($borderRadius);

	&:focus {
		border-color: #666;
		outline: none;
	}

	&.is-inline {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}
}

input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
textarea {
	-webkit-appearance: none;
}


textarea {
	height: 100px;
}

.field {
	margin-bottom: $halfPadding;
}
.field-actions {
	margin-top: $padding;
}

.field-label {
	display: block;
}

.field-hint {
	color: $mediumGrey;
	font-size: $smallFontSize;
}

// Validation

.field_with_errors {
	input {
		border-color: $dangerColor;
		background-color: $alertColor;

		&:focus {
			border-color: darken($dangerColor, 20%);
		}
	}

	label {
		color: $dangerColor;
	}
}

#error_explanation {
	margin: 0 0 $margin;
	background-color: $alertColor;
	padding: $padding;

	h2, li {
		color: $dangerColor;
	}
}