input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
textarea,
select {
	display: block;
	width: 100%;
	height: $controlHeight;
	background-color: white;
	font-family: $bodyFont;
	font-size: $baseFontSize;
	padding: 5px;
	border: 1px solid $lightGrey;
	@include border-radius($borderRadius);


	&:focus {
		border-color: $grey;
		outline: none;
	}

	&.is-inline {
		display: inline-block;
		vertical-align: middle;
		width: auto;
	}

	&.is-small {
		width: 180px;
	}
}

// Custom Select Input
// ======================================

select {
	// @include appearance(none);
	-webkit-appearance: none;
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	color: #666;

	
}

// Custom Select Styling for Webkit
// ======================================
// Allows us to use a custom arrow and avoid
// the browsers that dont support it.
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
		padding-right: 32px;
		background: white image-url("select-arrow.png") 100% 50% no-repeat;
    }
}

select::-ms-expand {
	display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}




input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=tel],
input[type=date],
textarea {
	-webkit-appearance: none;
}


textarea {
	height: 100px;
}

input[type=radio],
input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
}


fieldset {
	border: none;
	padding: 0;
	margin: 0 0 $margin;
}

.input-wrapper {
	display: inline-block;
	@include clearfix();

}

.input-field,
.input-label {
	float: left;
}

.input {
	@include clearfix();
	input {
		@include border-radius($borderRadius 0 0 $borderRadius);
		float: left;
	}

	&.has-focus {
		.input-post {
			background-color: $grey;
		}
	}

}
.input-post {
	float: left;
	display: inline-block;
	vertical-align: middle;
	margin-left: -1px;
	height: $controlHeight;
	line-height: $controlHeight;
	padding: 0 10px;
}

.field {
	margin-bottom: $halfPadding;


}

.field-radiolist {
	label {
		display: inline-block;
		vertical-align: middle;
		padding: 5px;
		padding-left: 0;
		margin-right: 10px;
	}
}

.field-actions {
	margin-top: $padding;
	padding-top: $padding;
	border-top: 1px solid $lightGrey;
	@include clearfix();
}

.field-actions-column {
	float: left;
	width: 50%;

	&:first-child {
		padding-right: $halfPadding;
	}

	&:last-child {
		padding-left: $halfPadding;
	}

}

.field-label {
	display: block;
}

.field-inline-label {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	padding-left: 0;
}

.field-hint {
	color: $mediumGrey;
	font-size: $smallFontSize;
}

.field-row {
	@include clearfix();
}
.field-col {
	float: left;
	width: 50%;

	&:first-child {
		padding-right: 10px;
	}
	&:last-child {
		padding-left: 10px;
	}
}

// Validation

.field_with_errors {
	input, select, textarea {

		border-color: $dangerColor;
		background-color: $alertColor;
		@include border-radius($borderRadius $borderRadius 0 0 );

		&:focus {
			border-color: darken($dangerColor, 20%);
		}
	}

	label {
		color: $dangerColor;
	}

	.message {
		display: block;
		background-color: $dangerColor;
		color: $white;
		padding: 5px;
		@include border-radius(0 0 $borderRadius $borderRadius);

	}
}

#error_explanation {
	margin: 0 0 $margin;
	background-color: $alertColor;
	padding: $padding;

	h2, li {
		color: $dangerColor;
	}

	h2 {
		@extend .h3;
	}
}


// form layou
.formlayout {
	@include mq($from: tablet) {
		margin: 0 $negativePadding;
		@include clearfix();
	}
}

.formlayout-column {

	&:first-child {
		margin-bottom: $padding;
		padding-bottom: $padding;
		border-bottom: 1px solid $lightGrey;
	}

	@include mq($from: tablet) {
		float: left;
		width: 50%;
		padding: 0 $padding;

		&:first-child {
			border-bottom: none;
			border-right: 1px solid $lightGrey;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}