.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.is-hidden {
	display: none;
}
.is-invisible {
	visibility: hidden;
}
.is-visible {
	visibility: visible;
	display: block;
}

.mobile-only {
	@include mq($from: tablet) {
		display: none !important;
	}
}