.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.is-hidden {
	display: none;
}
.is-invisible {
	visibility: hidden;
}
.is-visible {
	visibility: visible;
	display: block;
}

.small-only {
	@include mq($from: medium) {
		display: none !important;
	}
}

.has-margin {
	margin-bottom: $padding;
}

.has-padding {
	padding: $padding;
}