$maxWidth: 1280px;
$minWidth: 320px;

$padding: 20px;
$halfPadding: $padding / 2;
$negativePadding: $padding * -1;

$margin: 20px;

$bodyFont: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$headingFont: $bodyFont;
$baseFontSize: 14px;


// colors

$primaryColor: #CCC;
$accentColor: #1B809E;
$backgroundColor: #EFEBEC;
$black: #111;
$white: white;
$darkGrey: #333;
$mediumGrey: #666;
$grey: #999;
$lightGrey: #f6f6f6;

$linkTextColor: #1B809E;

$controlHeight: 44px;
$borderRadius: 2px;//$controlHeight;


$usernavBackgroundColor: #666;

$siteheaderHeight: 60px;