$maxWidth: 1280px;
$minWidth: 320px;

$padding: 20px;
$halfPadding: $padding / 2;
$negativePadding: $padding * -1;

$margin: 20px;

$bodyFont: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$headingFont: $bodyFont;
$baseFontSize: 14px;


// colors

$primaryColor: #CCC;
$accentColor: #337AB7;
$backgroundColor: #EFEBEC;
$black: #111;
$white: white;
$darkGrey: #333;
$mediumGrey: #666;
$grey: #999;
$lightGrey: #f6f6f6;

$infoColor: #D9EDF7;
$successColor: #DFF0D8;
$warningColor: #FCF8E3;
$alertColor: #F2DEDE;

$linkTextColor: #337AB7;
$linkTextHoverColor: #23527C;
$linkTextActiveColor: #337AB7;

$controlHeight: 44px;
$borderRadius: 2px;//$controlHeight;


$usernavBackgroundColor: #666;

$siteheaderHeight: 60px;