$maxWidth: 1280px;
$minWidth: 320px;
$padding: 30px;
$halfPadding: $padding / 2;

$bodyFont: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
$headingFont: $bodyFont;
$baseFontSize: 14px;


// colors

$primaryColor: #D6DDE3;
$accentColor: #FE2419;
$backgroundColor: #EFEBEC;

$controlHeight: 44px;


$usernavBackgroundColor: #666;



$siteheaderHeight: 60px;