body {
	font-family: $bodyFont;
	font-size: $baseFontSize;
	line-height: 1.4;
	color: $black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont;
	margin: 0 0 $margin;
}

h1 {

}

p {
	margin: 0 0 $margin;
}

a {
	color: $linkTextColor;
	text-decoration: none;

	&:hover,
	&:focus {
		color: darken($linkTextColor, 10%);
	}
}


hr {
	border: none;
	border-top: 1px solid $lightGrey;
	margin: $margin 0;
}