<h1>Welcome to Ninayo!</h1>
<p>Now you can post the crops you have to sell or buy and negotiate with the world.  Simply click “New Ad” to  get started!  To compare your prices to other sellers, search in the list function.  To find the locations of buyers and sellers on the map, click map!</p>

<p>Send questions or feedback to <a href="mailto:info@ninayo.com">info@ninayo.com</a></p>