<ul class="conversation-group clearfix">
	<p class="conversation-header"><strong><%= "Karibu NINAYO ujumbe!" %></strong></p>
	<%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>