<div class="congrats">
	<div class="congrats-header">
		<h3>You made a sale!</h3>
	</div>
	<div class="congrats-logos" style="display: flex; flex-direction: row; flex-wrap: wrap;">
		<img src="<%= image_path("bayer_logo.gif") %>" style="border: 1px solid black; height: 150px; width: 150px;">
		<img src="<%= image_path("yara_logo.gif") %>" style="border: 1px solid black; height: 150px; width: 150px;">
	</div>
	<div class="congrats-text">
		Congratulations on your sale. Make your next harvest even bigger with quality Yara agricultural inputs!
	</div>
	Buy Now Button
</div>