<div class="indexoptions">
	<% if current_user && current_user.admin? %>
		<%= link_to("Admin Page", admin_analytics_path, :class => "button primarynav-button is-primary") %>
	<% end %>
	<div class="splashtext">
	<% if I18n.locale == :sw %>
	<p><strong>Asante kwa kutembelea NINAYO, mtandao bora unaotumiwa na maelfu ya wakulima</strong></p> 
		<p><strong>Kuanza, bofya moja ya vitufe hapa chini:</strong></p>
		<br>
	<% else %>
	<p><strong>Welcome to NINAYO, the free network used by thousands of farmers</strong></p>
		<p><strong>To get started, choose one of the options below:</strong></p>
		<br>
	<% end %>
	</div>
	<%= link_to("#{t "common.want_sell"}", new_ad_path, :class => "button primarynav-button is-primary") %>
	<%= link_to("#{t "common.want_buy"}", ads_path, :class => "button primarynav-button is-primary") %>
	<%= link_to((I18n.locale == :sw ? "Nini NINAYO?" : "What is NINAYO?"), splash_instructions_path, :class => "button is-block")%>

</div>