<div>

<strong>Kutana na uongozi wa Ninayo.com</strong>
<p>Wawakilishi wetu wako tiyari kukusaidia upate bei nzuri zinazopatikana</p>
<p>Kama utakuwa unahitaji msaada, jisikie huru kuwasiliana nao.</p>
<p>Watakuwa wanakupigia simu Mara kwa Mara ili kuwasiliana na we we.</p>
<hr>
<div class="team-member-div">
	<div class="team-member-photo">
	</div>
	<div class="team-member-info">
		<div class="team-member-name">
			<u><b>Name</b></u> 
			Maurus Nchimbi
		</div>
		<div class="team-member-phone">
			<u><b>Simu</b></u> 
			123456789
		</div>
		<div class="team-member-location">
			<u><b>Location</b></u> 
			Ruvuma
		</div>
		<div class="team-member-email">
			<u><b>Email</b></u> 
			Maurus@ninayo.com
		</div>
	</div>
</div>
<hr>
<div class="team-member-div">
	<div class="team-member-photo">
	</div>
	<div class="team-member-info">
		<div class="team-member-name">
			<u><b>Name</b></u> 
			Bovan
		</div>
		<div class="team-member-phone">
			<u><b>Simu</b></u> 
			123456789
		</div>
		<div class="team-member-location">
			<u><b>Location</b></u> 
			Iringa
		</div>
		<div class="team-member-email">
			<u><b>Email</b></u> 
			Bovan@ninayo.com
		</div>
	</div>
</div>
</div>