<div>
<div class="team-member-div">
	<div class="team-member-info">
		<div class="team-member-name">
			<b>Name:</b> Maurus Nchimbi
		</div>
		<div class="team-member-phone">
			<b>Simu:</b> 123456789
		</div>
		<div class="team-member-location">
			<b>Location:</b> Ruvuma
		</div>
		<div class="team-member-email">
			<b>Email:</b> Maurus@ninayo.com
		</div>
	</div>
	<div class="team-member-photo">
	</div>
</div>
<hr>
<div class="team-member-div">
	<div class="team-member-info">
		<div class="team-member-name">
			<b>Name:</b> Bovan
		</div>
		<div class="team-member-phone">
			<b>Simu:</b> 123456789
		</div>
		<div class="team-member-location">
			<b>Location:</b> Iringa
		</div>
		<div class="team-member-email">
			<b>Email:</b> Bovan@ninayo.com
		</div>
	</div>
	<div class="team-member-photo">
	</div>
</div>
</div>