<div>

<strong>Kutana na uongozi wa Ninayo.com</strong>
<p>Wawakilishi wetu wako tiyari kukusaidia upate bei nzuri zinazopatikana</p>
<p>Kama utakuwa unahitaji msaada, jisikie huru kuwasiliana nao.</p>
<p>Watakuwa wanakupigia simu Mara kwa Mara ili kuwasiliana na we we.</p>
<hr>
<div class="team-member-div">
	<div class="team-member-photo">
		<img src="<%= image_path("maurus_compressor.gif") %>">
	</div>
	<div class="team-member-info">
		<div class="team-member-name">
			<b>Jina:</b> Maurus Nchimbi
		</div>
		<div class="team-member-phone">
			<b>Simu:</b> 0765520038
		</div>
		<div class="team-member-location">
			<b>Mahali:</b> Ruvuma
		</div>
		<div class="team-member-email">
			<b>Barua pepe:</b> </br>
			<a href="mailto:maurus@ninayo.com">maurus@ninayo.com</a>
		</div>
	</div>
</div>
<hr>
<div class="team-member-div">
	<div class="team-member-photo">
		<img src="<%= image_path("bovan_compressor.gif") %>">
	</div>
	<div class="team-member-info">
		<div class="team-member-name">
			<b>Jina:</b> Bovan M Jankey
		</div>
		<div class="team-member-phone">
			<b>Simu:</b> 0713352562
		</div>
		<div class="team-member-location">
			<b>Mahali:</b> Iringa
		</div>
	</div>
</div>
</div>