.ad {
	@include clearfix();
}


@include mq($from: tablet) {
	.ad-main {
		float: left;
		width: 70%;
		padding-right: $padding;
	}
	.ad-sidebar {
		float: right;
		width: 30%;
		padding-left: $padding;
		border-left: 1px solid $lightGrey;
	}
}


.ad-staticmap {
	margin: 0;

	img {
		max-width: 100%;
	}
}

.ad-address {

}

.ad-contactinfo {
	margin: 0 0 $padding;
}