.map {
	position: absolute;
	overflow: hidden;
	top: $siteheaderHeight;
	left: 0;
	right: 0;
	bottom: 0;
	@include transition(padding 300ms ease-in-out);

	@include mq($from: tablet) {
		padding-right: $filterWidth;
	}
}

#admap {
	height: 100%;
}

.map-controls {
	position: absolute;
	top: 66px;
    left: 0;
    right: 0;
    margin: 0;
}