.ads {
	margin: 0 $negativePadding;
}

.ads-item {
	position: relative;
	display: block;
	text-decoration: none;
	color: $black;
	padding: $padding;
	border-bottom: 1px solid #ccc;

	&:hover, 
	&:focus {
		background-color: rgba(black, .05);
	}

	&:first-child {
		border-top: 1px solid #ccc;
	}
}

.ads-heading {
	font-size: $baseFontSize * 1.1;
	margin: 0 0 5px;
	color: $linkTextColor;
}

.ads-price {
	position: absolute;
	bottom: $padding;
	right: $padding;
	font-size: $baseFontSize * 1.1;
	font-weight: bold;

}

.ads-published_at {
	
}
.ads-meta {
	font-size: 12px;
	color: #999;

	span {
		display: inline-block;
		vertical-align: middle;
		//margin-right: 10px;
	}
}