.ads-wrapper {
	position: relative;
	padding-right: 0;
	min-height: 640px;
	@include transition(padding 300ms ease-in-out);

	@include mq($from: tablet) {
		padding-right: $filterWidth;
	}
}

// .wrapper.show-filter .ads-wrapper {
// 	@include mq($from: tablet) {
// 		padding-right: $filterWidth;
// 	}
// }

.ads {
	margin: 0 $negativeHalfPadding;

	@include mq($from: tablet) {
		margin: 0;
	}

	@include mq($from: wide) {
		margin: 0;
	}


}

.ads-item {
	position: relative;
	display: block;
	text-decoration: none;
	color: $black;
	padding: $padding $halfPadding;
	border-bottom: 1px solid #ccc;

	@include mq($from: tablet) {
		padding: $padding;
	}

	@include mq($from: wide) {
		//padding: $padding $doublePadding;
	}

	&:hover, 
	&:focus {
		background-color: rgba(black, .05);
	}

	&:first-child {
		border-top: 1px solid #ccc;
	}

	&.has-actions {
		.ads-price {
			right: 100px;
		}
	}
}

.ads-heading {
	font-size: $baseFontSize * 1.1;
	margin: 0 0 5px;
	color: $linkTextColor;
}

.ads-price {
	position: absolute;
	bottom: $padding;
	right: $halfPadding;
	font-size: $baseFontSize * 1.1;
	font-weight: bold;
	color: $black;

	@include mq($from: tablet) {
		right: 0;
		padding: $padding;
	}

	@include mq($from: wide) {
		//padding: $padding $doublePadding;
	}

}

.ads-actions {

}

.ads-actions-item {
	
}

.ads-published_at {
	
}
.ads-meta {
	font-size: 12px;
	color: #999;

	span {
		display: inline-block;
		vertical-align: middle;
		//margin-right: 10px;
	}
}



.ads-table {
	width: 100%;
	border-collapse: collapse;

	tr {
		border-bottom: 1px solid $lightGrey;
	}

	th, td {
		padding: 5px 0;
		vertical-align: top;

		&:first-of-type {
			padding-top: $padding;
		}
		&:last-of-type {
			padding-bottom: $padding;
		}

		@include mq($from: tablet) {
			padding: 10px;

			&:first-of-type {
				padding-top: 10px;
			}
			&:last-of-type {
				padding-bottom: 10px;
			}
		}

		&.text-right {
			text-align: right;

			@include mq($until: tablet) {
				text-align: left;
			}
		}
	}
}

.ads-table-heading {
	margin: 0;
}
.ads-table-button {
	margin: 0;
}