.alert {
	position: relative;
	margin: 0 0 $margin;
	padding: $halfPadding $padding;

	background-color: $infoColor;
	color: $black;

	@include border-radius($borderRadius);

	&.is-success {
		background-color: $successColor;
	}

	&.is-warning {
		background-color: $warningColor;
	}

	&.is-error {
		background-color: $alertColor;
	}

}

.alert-close {
	position: absolute;
	top: -4px;
	right: -1px;
	display: block;
	padding: 5px 10px 20px 20px;

	color: $black;
	text-decoration: none;
	line-height: 1;
	margin: 0;
	font-size: 20px;

	opacity: .75;
}
