.filter {
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	//right: (-1 * $filterWidth) - $halfPadding;
	right: -100%;
	width: 95%;
	min-height: 100%;
	padding: $padding;
	background-color: $mediumGrey;
	color: $white;

	overflow-y: auto;
	 -webkit-overflow-scrolling: touch;

	@include transition(right 300ms ease-in-out);
	@include box-shadow(0 0 20px rgba(black, .7));

	@include mq($from: medium) {
		width: $filterWidth;
		right: $negativePadding;
		@include box-shadow(none);
	}
	@include mq($from: wide) {
		right: $negativeDoublePadding;
	}

	.pagenav {
		padding-bottom: $halfPadding;

		@include mq($from: medium) {
			padding-bottom: $padding;
		}
	}

}

.wrapper.show-filter .ads-wrapper .filter {
	right: $negativeHalfPadding;

	@include mq($from: medium) {
		right: $negativePadding;
	}
	@include mq($from: wide) {
		right: $negativeDoublePadding;
	}

}
 .map .filter {
 	@include mq($from: medium) {
		right: 0;
	}
 }

.wrapper.show-filter .map .filter {
	right: 0;
}

.filter-heading {
	line-height: 1;
}

.filter-field-heading {
	font-size: 14px;
	margin: 0 0 3px;
	font-weight: normal;

	@include mq($from: medium) {
		font-size: 16px;
	}
}

.filter-field {
	margin: 0 0 $halfPadding;

	@include mq($from: medium) {
		margin: 0 0 $padding;
	}
}

.filter-label {
	font-size: 13px;
}

a.filter-toggle {
	@include mq($from: medium) {
		display: none;
	}
}

.filter-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: $halfPadding $padding;
	font-size: 24px;
	color: $white;
	line-height: 1;
	opacity: .7;

	&:hover,
	&:focus {
		color: $white;
		opacity: 1;
	}

	@include mq($from: medium) {
		display: none;
	}
}

.filter-reset {
	font-size: 12px;
	color: $white;
	font-weight: normal;
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		color: $white;
	}
}

.filter {
	.pagenav-item {
		&.is-active {
			background-color: #333;
		}
	}
}

.js .filter-action {
	display: none;
}