.filter {
	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	//right: $negativeHalfPadding;
	right: 0;
	width: $filterWidth;
	max-width: 100%;
	background-color: $filterBackgroundColor;
	margin-right: (-1 * $filterWidth) - $halfPadding - 20px;
	color: $filterTextColor;
	padding: $padding;
	@include transition(margin left 300ms ease-in-out);
	@include box-shadow(0 0 20px rgba(black, .6));

	@include mq($from: tablet) {
		margin-right: (-1 * $filterWidth) - $padding;
		@include box-shadow(0 0 0 transparent);
	}

	@include mq($from: wide) {
		margin-right: (-1 * $filterWidth) - $doublePadding;
	}
}

.wrapper.show-filter .ads-wrapper .filter {

	margin-right: $negativeHalfPadding;

	@include mq($from: tablet) {
		margin-right: $negativePadding;
	}
	@include mq($from: wide) {
		margin-right: $negativeDoublePadding;
	}
}

.wrapper.show-filter .map .filter {
	margin-right: 0;

	@include mq($from: tablet) {
		margin-right: 0;
		right: 0;
	}
}

.filter-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: $halfPadding $padding;
	font-size: 24px;
	color: $white;
	line-height: 1;
	opacity: .7;

	&:hover,
	&:focus {
		color: $white;
		opacity: 1;
	}
}