.login {
	@include mq($from: medium) {
		margin: 0 $negativePadding;
		@include clearfix();
	}
}

.login-column {

	&:first-child {
		margin-bottom: $padding;
		padding-bottom: $padding;
		border-bottom: 1px solid $lightGrey;
	}

	@include mq($from: medium) {
		float: left;
		width: 50%;
		padding: 0 $padding;

		&:first-child {
			border-bottom: none;
			border-right: 1px solid $lightGrey;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}