.pagenav {
	padding: $padding 0;
	margin-top: $negativePadding;
	@include clearfix();
	@include transition(right 300ms ease-in-out);

	&.is-floating {
		//position: absolute;
		padding: 0;
		margin-top: 0;
		//top: $padding;
		//right: $halfPadding;
		//left: $halfPadding;
		//left: 40px;
		//z-index: -1;

		@include mq($from: tablet) {
			//right: $padding;
			//left: $padding;
		}

		.pagenav-group {
			position: absolute;
			top: 26px;
			left: $halfPadding;
			z-index: 1;

			&.is-right {
				position: absolute;
				left: auto;
				right: 6px;
			}

			@include mq($from: tablet) {
				top: $padding;
			}
		}

		.pagenav-item {
			margin-bottom: 0;
		}

		// @include mq($from: wide) {
		// 	right: $doublePadding;
		// 	left: $doublePadding;
		// }
	}

	&.is-block {
		@include mq($until: tablet) {
			.pagenav-buttongroup {
				float: none;
			}
			.pagenav-item{
				display: block;
				width: 33.333333333%;
			}
		}
	}

	&.has-2 {
		.pagenav-item {
			display: block;
			width: 50%;
		}
	}
}
.map.show-filter {
	.pagenav {
		right: $filterWidth + $padding;
	}
}

.pagenav-group {
	float: left;

	&.is-right {
		float: right;
	}
}

.pagenav-buttongroup {
	.pagenav-item  {
		@include border-radius(0);
		&:first-child {
			@include border-radius($borderRadius 0 0 $borderRadius);
		}
		&:last-child {
			@include border-radius(0 $borderRadius $borderRadius 0);
		}
	}
}

.pagenav-item {
	@extend .button;
	background-color: $grey;
	float: left;
	border-left: 1px solid $white !important;

	&:first-child {
		border-left: none !important;
	}


	&.is-active {
		background-color: $mediumGrey;

		&:hover,
		&:focus {
			background-color: darken($mediumGrey, 10%);
		}
		&:active {
			background-color: $darkGrey;
		}
	}
	&:hover,
	&:focus {
		color: $white;
		background-color: darken($grey, 10%);
	}
	&:active {
		color: $white;
		background-color: $darkGrey;
	}

}