.pagination {
	margin: $margin 0;
	text-align: center;
	@include clearfix();
}

.pagination-item {
	display: none;
	padding: $halfPadding;
	vertical-align: middle;

	&.is-next,
	&.is-prev,
	&.is-active {
		display: inline-block;
	}

	&.is-next,
	&.is-prev {
		@extend .button;
		width: 33%;
	}

	&.is-prev {
		float: left;
	}

	&.is-next {
		float: right;
		margin-right: 0;
	}

	@include mq($from: tablet) {
		display: inline-block;

		&.is-next,
		&.is-prev {
			float: none;
			padding: $halfPadding;
			width: auto;
			height: auto;
			line-height: 1;
			text-transform: none;
			font-size: 100%;
			background: none;
			margin: 0;

			&:hover,
			&:focus,
			&:active {
				background: none;
				color: darken($linkTextColor, 10%);
			}
		}
	}

}