.siteheader {
	background-color: $primaryColor;
}

.siteheader-inner {
	position: relative;
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 0 $halfPadding;
	height: $siteheaderHeight;

	@include mq($from: tablet) {
		padding: 0 $padding;
	}
}

.siteheader-logo {
	display: inline-block;
	margin: 0;
	padding: $padding 0;
	width: auto;
	line-height: $siteheaderHeight;
	color: $black;
	text-decoration: none;

	img {
		display: block;
		max-height: 20px;
		height: $siteheaderHeight - 20px;
		width: auto;
	}
}

.siteheader-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 12px $halfPadding;

	@include mq($from: tablet) {
		padding: 12px $padding;
	}
}

.siteheader-new-ad {
	position: absolute;
	top: ($siteheaderHeight - $controlHeight) / 2;
	right: 70px;
}