.sitefooter {
	background-color: $darkGrey;
	color: $white;
	height: $siteFooterHeight;
}

.sitefooter-inner {
	margin: 0 auto;
	max-width: $maxWidth;
	padding: $padding $halfPadding;

	@include mq($from: tablet) {
		padding: $padding;
	}
}

.sitefooter-row {
	@include mq($from: tablet) {
		@include clearfix();
	}
}

.sitefooter-first {
	@include mq($from: tablet) {
		float: left;
		width: 70%;
	}
}

.sitefooter-second {
	@include mq($from: tablet) {
		float: right;
		width: 30%;
	}
}