.sitefooter {
	background-color: $darkGrey;
	color: $white;
	min-height: $siteFooterHeight;
	font-size: 13px;
	color: $lightGrey;

	a {
		color: $lightGrey;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.ads-map .sitefooter {
	display: none;
}

.sitefooter-inner {
	margin: 0 auto;
	max-width: 1024px;
	padding: $padding $halfPadding;

	@include mq($from: medium) {
		padding: $padding;
	}

	@include mq($from: wide) {
		padding: $padding $doublePadding;
	}
}

.sitefooter-row {
	@include mq($from: medium) {
		@include clearfix();
	}
}

.sitefooter-first {
	@include mq($from: medium) {
		float: left;
		width: 70%;
	}
}

.sitefooter-second {
	@include mq($from: medium) {
		float: right;
		width: 30%;
		text-align: right;
	}
}

.sitefooter-copy {
	margin-top: $padding;

	@include mq($from: medium) {
		text-align: right;
		margin-top: 0;
	}
}

