.usernav {
	position: absolute;
	top: $siteheaderHeight;
	right: $halfPadding;
	left: $halfPadding;
	z-index: 999;
	display: none;
	padding-top: 8px;

	&.is-active {
		display: block;
	}

	@include mq($from: tablet) {
		left: auto;
		width: 320px;
		right: $padding;

	}
}

.usernav-inner {
	background-color: $usernavBackgroundColor;
}

.usernav-item {
	display: block;
	padding: 0 $padding;
	height: $siteheaderHeight;
	line-height: $siteheaderHeight;
	color: $white;
	border-top: 1px solid $white;
	text-decoration: none;
	text-transform: uppercase;

	&:first-child {
		border-top: none;
	}

	&:hover,
	&:focus {
		background-color: darken($usernavBackgroundColor, 5%);
		color: $white;
	}

	&:active {
		background-color: darken($usernavBackgroundColor, 10%);
		color: $white;
	}
}

.usernav-separator {

	height: 1px;
	border-top: 1px solid $white;
	margin: 10px 0;
}

.usernav-caret {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: $halfPadding;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
	border-color: $usernavBackgroundColor;
	border-style: solid;
	border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $usernavBackgroundColor;

    @include mq($from: tablet) {
		right: $padding + $halfPadding;
	}
}