.usernav {
	position: absolute;
	top: $siteheaderHeight;
	right: 8px;
	left: 8px;
	z-index: 999;
	display: none;
	padding-top: 8px;

	&.is-active {
		display: block;
	}

	@include mq($from: tablet) {
		left: auto;
		width: 320px;
		//right: $padding;
	}

	@include mq($from: wide) {
		right: $padding;
	}
}

.usernav-inner {
	background-color: $usernavBackgroundColor;
	@include box-shadow(0 0 20px rgba(black, .4));
	text-align: left;
}

.usernav-item {
	display: block;
	padding: 0 $padding;
	height: $siteheaderHeight;
	line-height: $siteheaderHeight;
	//color: $white;
	border-top: 1px solid $lightGrey;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

	&:first-child {
		border-top: none;
	}

	&:hover,
	&:focus {
		background-color: darken($usernavBackgroundColor, 5%);
		//color: $white;
	}

	&:active {
		background-color: darken($usernavBackgroundColor, 10%);
		//color: $white;
	}
}

.usernav-separator {
	display: block;
	height: 1px;
	border-top: 1px solid $black;
	
}

.usernav-caret {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	right: $halfPadding;
	border-width: 0 5px 5px;
	border-bottom-color: #000;
	border-color: $usernavBackgroundColor;
	border-style: solid;
	border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $usernavBackgroundColor;

    @include mq($from: tablet) {
		right: $padding;
	}
	@include mq($from: wide) {
		right: $padding + $halfPadding;
	}
}