<div style="display: flex; justify-content: center;">Current Market Prices (WIP)</div>
<div class="pagenav is-block" style="display: flex; justify-content: center;">
		<%= link_to "DAR", dar_price_path, :class => current_view == "dar" ? "pagenav-item is-active" : "pagenav-item" %>
		<%= link_to "MBEYA", mbeya_price_path, :class => current_view == "mbeya" ? "pagenav-item is-active" : "pagenav-item" %>
		<%= link_to "IRINGA", iringa_price_path, :class => current_view == "iringa" ? "pagenav-item is-active" : "pagenav-item" %>
</div>