<% provide(:title, "Current market prices: Dar es Salaam") %>
<%= render "pagenav", :current_view => "dar" %>
<div class="new-price-form">
	<%= render "new", :current_view => "dar" %>
</div>
<div class="tabs-content">
	<%= render "dar", :current_view => "dar" %>
</div>