<% provide(:title, "Current market prices: Iringa") %>
<%= render "pagenav", :current_view => "iringa" %>
<div class="tabs-content">
	<%= render "iringa", :current_view => "iringa" %>
</div>
<hr>
<div class="new-price-form">
	<strong>Publish New Prices</strong>
	<%= render "new", :current_view => "iringa" %>
</div>
