<% provide(:title, "Current market prices: Mbeya") %>
<%= render "pagenav", :current_view => "mbeya" %>
<div class="tabs-content">
	<%= render "mbeya", :current_view => "mbeya" %>
</div>
<hr>
<div class="new-price-form">
<div style="display: flex; justify-content: center;"><h3>Publish new prices</h3></div>
	<%= render "new", :current_view => "mbeya" %>
</div>