<% provide(:title, "Current market prices: Mbeya") %>
<%= render "pagenav", :current_view => "mbeya" %>
<div class="tabs-content">
	<%= render "mbeya", :current_view => "mbeya" %>
</div>
<hr>
<div class="new-price-form">
	<strong>Publish New Prices</strong>
	<%= render "new", :current_view => "mbeya" %>
</div>