<% provide(:title, "Current market prices: Mbeya") %>
<%= render "pagenav", :current_view => "mbeya" %>
<div class="update-button" style="display: flex; justify-content: center;">
	<%= link_to("Update Prices", new_mbeya_price_path, :class => "button is-block") %>
</div>
<div class="disclaimer-content" style="display: flex; justify-content: center; max-width: 300px;">
	<small>Price information reflects daily, average market prices. These are intended to provide Ninayo users with approximate pricing guidance.  Actual market prices are subject to current trading conditions.</small>
</div>
<div class="tabs-content">
	<%= render "mbeya", :current_view => "mbeya" %>
</div>
