<p>Habari <%= @resource.name || @resource.email %>!</p>
<p>Mtu mmoja aliiomba kubadili nenosiri yako. Unaweza kufanya hivyo kwa njia ya kiungo hapo chini.</p>
<p><%= link_to 'Mabadiliko ya nenosiri yangu', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Kama hakuwa na ombi hili , tafadhali kupuuza barua pepe hii.</p>
<p>Nenosiri yako haitabadilika hadi wewe kupata kiungo hapo</p>