<% if @bought_ads.length > 0 %>
	<h3>Did you buy this?</h3>
	<%= render "list", :ads => @bought_ads, :current_view  => current_view %>
<% end %>

<h3>Favorites</h3>

<%= render "list", :ads => @ads, :current_view  => current_view %>