<div class="tabs">
	<%= link_to "Current", mypage_path, :class => active_tab == "current" ? "tab is-active" : "tab" %>
	<%= link_to "Favorites", mypage_favorites_path, :class => active_tab == "favorites" ? "tab is-active" : "tab" %>
	<%= link_to "Archived", mypage_archive_path, :class => active_tab == "archive" ? "tab is-active" : "tab" %>
</div>