<% provide(:title, "#{t "views.my_page.favorites.title"}") %>
<%= render "pagenav", :current_view => "favorites" %>

<div class="tabs-content">
	<%= render "favorites", :current_view => "favorites" %>
</div>

