<div class="sitefooter">
	<div class="grid wrapper" style="padding:10px 0;">
		<div class="grid-row">
			<div class="grid-column-6" style="text-align:center;">
				<%= link_to((I18n.locale == :sw ? "Wasiliana nasi" : "Contact us"), new_help_request_path, :class => "btn grey is-block", :style => "width: 100%;  float: right; padding:10px; box-sizing: border-box; margin-bottom:10px;");%>
			</div>
			<div class="grid-column-6" style="text-align:center;">
				<%= link_to((I18n.locale == :sw ? "NINAYO ni nini?" : "About NINAYO"), splash_instructions_path, :class => "btn grey is-block", :style => "width: 100%; float:left; padding:10px; box-sizing: border-box; margin-bottom:10px;")%>
			</div>
		</div>
		<div class="grid-row">
			<div class="grid-column-12">
				<div style="text-align: center; margin-top: 0;">Copyright &copy; Ninayo 2018</div>
			</div>
		</div>
	</div>
</div>