<div class="sitefooter">
	<div class="sitefooter-inner">
		<div class="sitefooter-row">
			<div class="sitefooter-first">
				<p class="sitefooter-contactinfo">
					<%= t "views.footer.contact" %>: <a href="mailto:info@ninayo.com">info@ninayo.com</a><br>
					<%= t "views.footer.report_abuse" %>: <a href="mailto:abuse@ninayo.com">abuse@ninayo.com</a><br>
					<%= t "views.footer.support" %>: <a href="mailto:support@ninayo.com">support@ninayo.com</a>
				</p>

			</div>
			<div class="sitefooter-second">
				<div class="fb-like" data-href="https://www.facebook.com/pages/NINAYOcom/588982287904802" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
		</div>
		<div class="copy sitefooter-copy">
			&copy; 2015 Ninayo
		</p>
	</div>
</div>

<div id="fb-root"></div>