<div class="sitefooter">
	<div class="sitefooter-inner">
		<div class="sitefooter-row">
			<div class="sitefooter-first">
				<h3>The footer</h3>
				<p>Here we can put some contact informatin, legal stuff and links to secondary pages such as about, contact, etc...</p>
			</div>
			<div class="sitefooter-second">
				<h4>Some links</h4>
				<ul class="linklist">
					<li><a href="">Link 1</a></li>
					<li><a href="">Link 2</a></li>
					<li><a href="">Link 3</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>