<div class="sitefooter">
	<div class="sitefooter-inner">
		<div class="sitefooter-row">
			<div class="sitefooter-first" style="display: flex; flex-direction: column; align-items: center;">
				<%= link_to((I18n.locale == :sw ? "Wasiliana nasi" : "Contact us"), new_help_request_path, :class => "button is-block", :style => "width: 80vw; max-width: 200px; background-color: #9e9e9e;")%>
				<br>
				<%= link_to((I18n.locale == :sw ? "NINAYO ni nini?" : "About NINAYO"), splash_instructions_path, :class => "button is-block", :style => "width: 80vw; max-width: 200px; background-color: #9e9e9e;")%>
			</div>
		</div>
		<div class="copy sitefooter-copy">
			<div style="text-align: center;"> Copyright &copy; Ninayo 2017 </div> <br>
			<div style="text-align: center;"><%= image_tag("free_basics.gif", alt: "NINAYO") %></div>
		</div>
	</div>
</div>