<div class="sitefooter">
	<div class="sitefooter-inner">
		<div class="sitefooter-row">
			<div class="sitefooter-first">
				<div class="fb-like" data-href="https://www.facebook.com/pages/NINAYOcom/588982287904802" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
			</div>
			<div class="sitefooter-second text-right">
				<div class="copy">
					&copy; 2015 Ninayo
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fb-root"></div>